# Problema 1

In [1]:
import random

In [2]:
 listarandom1=[]
for i in range(0,5): 
    listarandom1.append(random.randint(-100,100))
listarandom1

[-58, 43, 65, 66, -45]

In [3]:
listarandom2=[]
for i in range(0,10): 
    listarandom2.append(random.randint(-100,100))
listarandom2

[-98, 12, 50, 20, -68, -69, -15, -54, 73, 3]

In [4]:
listarandom3=[]
for i in range(0,15): 
    listarandom3.append(random.randint(-100,100))
listarandom3

[24, -14, 21, 91, 29, -4, -32, 69, -7, -26, -4, -38, -77, -46, -39]

In [5]:
print("Seleccione la lista que quiere:\n1. Lista con 5 valores\n2. Lista con 10 valores\n3. Lista con 15 valores\n")
operacion=int(input())
if operacion==1:
    print("Lista con 5 valores: "+str(listarandom1))
elif operacion==2:
    print("Lista con 10 valores: "+str(listarandom2))
elif operacion==3:
    print("Lista con 15 valores: "+str(listarandom3))
else:
    print("La operación no es válida")

Seleccione la lista que quiere:
1. Lista con 5 valores
2. Lista con 10 valores
3. Lista con 15 valores

3
Lista con 15 valores: [24, -14, 21, 91, 29, -4, -32, 69, -7, -26, -4, -38, -77, -46, -39]

# Problema 2

In [6]:
listarandom3.sort()

print(listarandom3[0])
print(listarandom3[14])

-77
91

# Problema 3

In [7]:
ordenadosMay1 = sorted(listarandom1, reverse=True)
ordenadosMay1

[66, 65, 43, -45, -58]

In [8]:
ordenadosMen1 = sorted(listarandom1, reverse=False)
ordenadosMen1

[-58, -45, 43, 65, 66]

In [9]:
ordenadosMay2 = sorted(listarandom2, reverse=True)
ordenadosMay2

[73, 50, 20, 12, 3, -15, -54, -68, -69, -98]

In [10]:
ordenadosMen2 = sorted(listarandom2, reverse=False)
ordenadosMen2

[-98, -69, -68, -54, -15, 3, 12, 20, 50, 73]

In [11]:
ordenadosMay = sorted(listarandom3, reverse=True)
ordenadosMay

[91, 69, 29, 24, 21, -4, -4, -7, -14, -26, -32, -38, -39, -46, -77]

In [12]:
ordenadosMen = sorted(listarandom3, reverse=False)
ordenadosMen

[-77, -46, -39, -38, -32, -26, -14, -7, -4, -4, 21, 24, 29, 69, 91]

# Problema 4

In [13]:
def listapares(lista):
    lp=[]
    li=[]
    for i in lista:
        if i%2==0:
            lp.append(i)
        else:
            li.append(i)
    return lp,li

In [14]:
listas=listapares(listarandom1+listarandom2+listarandom3)

tam_par = (listas[0])

tam_par

[-58, 66, -98, 12, 50, 20, -68, -54, -46, -38, -32, -26, -14, -4, -4, 24]

# Problema 5

In [15]:
def listapares2(lista):
    lpa=[]
    lim=[]
    for i in lista:
        if i%2==0:
            lpa.append(i)
        else:
            lim.append(-1)
    return lpa,lim

In [17]:
listasuno=listapares2(listarandom3)

tam_impar1 = (listasuno[1])
tam_par2=(listasuno[0])
tam_impar1

[-1, -1, -1, -1, -1, -1, -1]

In [18]:
ListaNueva=tam_impar1+tam_par2
ListaNueva

[-1, -1, -1, -1, -1, -1, -1, -46, -38, -32, -26, -14, -4, -4, 24]

# Problema 6

# Base de datos

In [19]:
import pandas as pd
import numpy as np
import json

In [20]:
dfa = pd.read_csv("C:/Users/Lenovo/Desktop/Septimo semestre/Mineria de datos/movie_data.csv")

In [21]:
dfa.shape

(5043, 28)

In [22]:
dfa.head()

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0
2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,994.0,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000
3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,2701.0,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000
4,NaN,Doug Walker,NaN,NaN,131.0,NaN,Rob Walker,131.0,NaN,Documentary,...,NaN,NaN,NaN,NaN,NaN,NaN,12.0,7.1,NaN,0

In [23]:
dfa.columns

Index(['color', 'director_name', 'num_critic_for_reviews', 'duration',
       'director_facebook_likes', 'actor_3_facebook_likes', 'actor_2_name',
       'actor_1_facebook_likes', 'gross', 'genres', 'actor_1_name',
       'movie_title', 'num_voted_users', 'cast_total_facebook_likes',
       'actor_3_name', 'facenumber_in_poster', 'plot_keywords',
       'movie_imdb_link', 'num_user_for_reviews', 'language', 'country',
       'content_rating', 'budget', 'title_year', 'actor_2_facebook_likes',
       'imdb_score', 'aspect_ratio', 'movie_facebook_likes'],
      dtype='object')

In [24]:
dfa.dtypes

color                         object
director_name                 object
num_critic_for_reviews       float64
duration                     float64
director_facebook_likes      float64
actor_3_facebook_likes       float64
actor_2_name                  object
actor_1_facebook_likes       float64
gross                        float64
genres                        object
actor_1_name                  object
movie_title                   object
num_voted_users                int64
cast_total_facebook_likes      int64
actor_3_name                  object
facenumber_in_poster         float64
plot_keywords                 object
movie_imdb_link               object
num_user_for_reviews         float64
language                      object
country                       object
content_rating                object
budget                       float64
title_year                   float64
actor_2_facebook_likes       float64
imdb_score                   float64
aspect_ratio                 float64
movie_facebook_likes           int64
dtype: object

In [25]:
dfa.isnull().any()

color                         True
director_name                 True
num_critic_for_reviews        True
duration                      True
director_facebook_likes       True
actor_3_facebook_likes        True
actor_2_name                  True
actor_1_facebook_likes        True
gross                         True
genres                       False
actor_1_name                  True
movie_title                  False
num_voted_users              False
cast_total_facebook_likes    False
actor_3_name                  True
facenumber_in_poster          True
plot_keywords                 True
movie_imdb_link              False
num_user_for_reviews          True
language                      True
country                       True
content_rating                True
budget                        True
title_year                    True
actor_2_facebook_likes        True
imdb_score                   False
aspect_ratio                  True
movie_facebook_likes         False
dtype: bool

In [26]:
dfa.isnull().sum()

color                         19
director_name                104
num_critic_for_reviews        50
duration                      15
director_facebook_likes      104
actor_3_facebook_likes        23
actor_2_name                  13
actor_1_facebook_likes         7
gross                        884
genres                         0
actor_1_name                   7
movie_title                    0
num_voted_users                0
cast_total_facebook_likes      0
actor_3_name                  23
facenumber_in_poster          13
plot_keywords                153
movie_imdb_link                0
num_user_for_reviews          21
language                      12
country                        5
content_rating               303
budget                       492
title_year                   108
actor_2_facebook_likes        13
imdb_score                     0
aspect_ratio                 329
movie_facebook_likes           0
dtype: int64

In [27]:
df_drop = dfa.dropna()

In [28]:
df_drop

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0
2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,994.0,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000
3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,2701.0,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000
5,Color,Andrew Stanton,462.0,132.0,475.0,530.0,Samantha Morton,640.0,73058679.0,Action|Adventure|Sci-Fi,...,738.0,English,USA,PG-13,263700000.0,2012.0,632.0,6.6,2.35,24000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5026,Color,Olivier Assayas,81.0,110.0,107.0,45.0,Béatrice Dalle,576.0,136007.0,Drama|Music|Romance,...,39.0,French,France,R,4500.0,2004.0,133.0,6.9,2.35,171
5027,Color,Jafar Panahi,64.0,90.0,397.0,0.0,Nargess Mamizadeh,5.0,673780.0,Drama,...,26.0,Persian,Iran,Not Rated,10000.0,2000.0,0.0,7.5,1.85,697
5033,Color,Shane Carruth,143.0,77.0,291.0,8.0,David Sullivan,291.0,424760.0,Drama|Sci-Fi|Thriller,...,371.0,English,USA,PG-13,7000.0,2004.0,45.0,7.0,1.85,19000
5035,Color,Robert Rodriguez,56.0,81.0,0.0,6.0,Peter Marquardt,121.0,2040920.0,Action|Crime|Drama|Romance|Thriller,...,130.0,Spanish,USA,R,7000.0,1992.0,20.0,6.9,1.37,0
5042,Color,Jon Gunn,43.0,90.0,16.0,16.0,Brian Herzlinger,86.0,85222.0,Documentary,...,84.0,English,USA,PG,1100.0,2004.0,23.0,6.6,1.85,456

In [29]:
df_drop.isnull().sum()

color                        0
director_name                0
num_critic_for_reviews       0
duration                     0
director_facebook_likes      0
actor_3_facebook_likes       0
actor_2_name                 0
actor_1_facebook_likes       0
gross                        0
genres                       0
actor_1_name                 0
movie_title                  0
num_voted_users              0
cast_total_facebook_likes    0
actor_3_name                 0
facenumber_in_poster         0
plot_keywords                0
movie_imdb_link              0
num_user_for_reviews         0
language                     0
country                      0
content_rating               0
budget                       0
title_year                   0
actor_2_facebook_likes       0
imdb_score                   0
aspect_ratio                 0
movie_facebook_likes         0
dtype: int64

Las columnas nos hablas de las características que tienen las películas, en si la base de datos está enfocada en las películas por lo que en las columnas son los géneros de cada una, sus actores, directores, números de críticas, lenguajes, país donde se llevó a cabo la película, etc.

Y una idea de lo que se puede hacer con esta base de datos, podría ser ver que características influyen para el numero de críticas, tal vez un actor o un director influya más que otro, en si observar cuales son las más significantes y poder saber en un futuro cuales serían las películas más vistas.